<ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> <!-- image section -->
      <ion-col>
        <img src="https://img-truly-scrumptious.s3.amazonaws.com/info.png">
      </ion-col>
    </ion-row>

    <ion-row> <!-- information section-->
      <ion-col>
        <div class="how-text">
          <h3>
            How To Use This Application?
          </h3>
          <p>
            Once you are all set with you account you will be able to enjoy making recipes, find various recipes you can 
            click on them or scroll to the sides to check out the various recipes, soon you will be able to use the search bar
            to look for recipes and ingridients that you might have, however for now you can only see the recipes on the home a favorites page.<br>
            Once you click on the recipe you will see all the instruction you need to bake, after that you will have the choose to share what you 
            have done  by sharing a comment and a picture of your bakin creation it would be so fun to be able to see what you have done! <br>
            the next section is to save this recipe on to your chef profile and then hace a record or all recipes you have made.
            at the end you will see all reviews from this recipes. <br>
            you can navigate trough tabs at the button of the application or through the side bar on the top left hand-side of the application.
            To log out you just go to the side bar and log yourself out of the application.
          </p>
        </div>
        <div class="when-text">
          <h3>
            When To Find New Recipes?
          </h3>
          <p>
            Right now the app is still working on many more features therefore there won't be new recipes in the new future
            
          </p>
        </div>
        <div class="howd-text">
          <h3>
            How Difficult are the Recipes?
          </h3>
          <p>
            The idea is to try to make the recipes by yourself and ask for some help for things like preperaing the oven and taken them
            out of it if you are under 10 years old and also if there are recipes that need the blender you might ask your parents if it is
            ok for you to use it or if it is better to ask for your parents help but most of the time the rest of the experience you will get 
            by baking our recipes are gonna be very enjoyable!
            
          </p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
